.headline {
  width: fit-content;
  display: grid;
  gap: 24px;

  @media (max-width: 767.5px) {
    gap: 12px;
  }

  :global(.ant-typography) {
    margin: 0 !important;
  }

  &__thumbnail {
    width: 100%;
    height: auto;
  }

  &__title {
    font-weight: 800 !important;
  }
}
