.headline {
  width: fit-content;
  display: grid;
  gap: 24px;
  min-width: 300px;

  :global(.ant-typography) {
    margin: 0 !important;
  }

  &__thumbnail {
    width: 100%;
    height: auto;
  }

  &__title {
    font-weight: 800 !important;
  }
}
