@import "styles/custom.scss";

.career {
  @extend %padding;
  display: grid;
  gap: 140px;
  padding-bottom: 48px !important;

  @media (max-width: 991.5px) {
    gap: 24px;
  }

  &__header {
    @media (max-width: 991.5px) {
      gap: 24px !important;
    }
  }
}
