@import "styles/custom.scss";

.header {
  display: grid;
  gap: 130px;

  @media (max-width: 991.5px) {
    gap: 36px;
  }

  &__center {
    text-align: center;
    margin: auto;
  }

  &__content {
    display: grid;
    gap: 60px;
  }

  &__flexWidth {
    max-width: 900px;
  }

  &__title {
    @extend %titleFont;
  }

  &__subtitle {
    @extend %subtitleFont;
  }
}
