@import "styles/custom.scss";

.storyDetail {
  &__withPadding {
    @extend %padding;
  }

  &__content {
    font-size: 24px !important;
  }

  &__otherStory {
    text-align: center;
    margin-bottom: 72px !important;
  }

  &__containerOtherStory {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    margin-left: 50px;
  }
  
}
